body{
    margin: 0;
    height: 100%;
    background-color: #3E3E3E;
    color: snow;
    font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: snow;
}

.topnav{
    background-color: #545454;
    overflow: hidden;
}

.topnav a{
    color: snow;
    padding: 14px 16px;
    display: block;
    text-align: center;
    float: left;
    text-decoration: none;    
}

.topnav a:hover{
color: snow;
}

.topnav .icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.container{
    padding: 50px;
}

h1{
    font-size: 72px;
}

.blink{
  animation: blinker 1.2s infinite step-end;
}

@keyframes blinker{
  50%{
    opacity: 0;
  }
}

.contentBlock{
    background-color: #383838;
    float:left;
    font-size: 24px;
    padding: 25px;
    margin-left: 50px;
    margin-top: 15px;
    font-size: 28px;
    border-radius: 10px;
}

.contentBlock a{
  text-decoration: underline;
  text-decoration-color: #7de67d;
}